<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title class="title">Formulaire</ion-title> -->
    <ion-chip class="chip" slot="end">
      <ion-icon class="user" name="person-circle-outline" size="large"></ion-icon>
      <ion-label>{{username}}</ion-label>
    </ion-chip>
    <ion-icon class="disconnect" name="exit-outline" (click)="disconnect()" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title class="title-form">Déclarer un objet perdu</ion-title>
  <form [formGroup]="lostForm" (ngSubmit)="submitForm()" class="form" novalidate>
    <ion-list>
      <ion-item lines="full" class="bg">
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" name="description" type="text"></ion-input>
      </ion-item>
      <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans lost.page.ts -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
        La description est requise.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.pattern">
        La description doit comporter au moins 10 caractères.
      </span>
      <ion-item lines="full">
        <ion-label position="stacked">Date</ion-label>
        <ion-input formControlName="date" type="date" name="date" [value]="defaultDate"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Lieu</ion-label>
        <ion-input formControlName="location" name="location" type="text"></ion-input>
      </ion-item>
      <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans lost.page.ts -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.location.errors?.required">
        Le lieu est requis.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.location.errors?.pattern">
        Le lieu doit comporter au moins 3 caractères.
      </span>
      <ion-item lines="full">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="firstname" name="firstname" type="text"></ion-input>
      </ion-item>
      <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans lost.page.ts -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.firstname.errors?.required">
        Le prénom est requis.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.firstname.errors?.pattern">
        Le prénom doit comporter au moins 3 caractères.
      </span>
      <ion-item lines="full">
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="lastname" name="lastname" type="text"></ion-input>
      </ion-item>
      <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans lost.page.ts -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.required">
        Le nom est requis.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.pattern">
        Le nom doit comporter au moins 3 caractères.
      </span>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" name="email" type="email"></ion-input>
      </ion-item>
      <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans lost.page.ts -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        L'email est requis.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
        L'email est erroné.
      </span>
      <!-- <ion-item *ngIf="isSubmitted && lostForm.valid " class="valid">
        <ion-text color="success">Demande envoyée</ion-text>
      </ion-item> -->
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Envoyer</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>