// ******************************************************** Header ************************************************************
ion-toolbar {
    --background: rgb(23, 140, 164);
    --background: linear-gradient(74deg, rgba(23, 140, 164, 1) 13%, rgba(24, 183, 190, 1) 83%);
    --color: rgb(255, 255, 255);
    font-family: 'Catamaran&Dancing';
    height: 80px;
}

ion-back-button {
    margin-top: 20px;
}

ion-title {
    margin-top: 20px;
}

.chip {
    margin-top: 25px;
    --background: rgb(255, 255, 255);
    --color: rgb(23, 140, 164);
    font-size: 15px;
}

.user {
    color: rgb(23, 140, 164);
}

.disconnect {
    margin-top: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

// ******************************************************** Content ************************************************************
ion-content {
    --background: #e6f6f7;
    font-family: 'Catamaran&Dancing';
}

.title-form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    color: rgb(10, 72, 85);
}

ion-list {
    background: #e6f6f7;
}

ion-button {
    --background: rgb(23, 140, 164);
    --background: linear-gradient(74deg, rgba(23, 140, 164, 1) 13%, rgba(24, 183, 190, 1) 83%);
    --color: #F9F7F0;
}

ion-item {
    border: solid 2px #e6f6f7;
    border-radius: 10px;
    color: rgb(23, 140, 164);
}

.error {
    color: rgb(238, 94, 113);
}
