<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des objets trouvés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-text >{{data[0].description}}</ion-text> -->
  <ion-text >{{foundData.location}}</ion-text>
  <ion-text >{{foundData.date}}</ion-text>
  <!-- <ion-text ngFor="let found of data[index]"> {{found.description}}</ion-text> -->
</ion-content>
