<ion-header>
  <ion-toolbar>
    <ion-title>      Lost & Found
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="isInscrire && !isConnect">
    <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm()" class="form" novalidate>
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Prénom</ion-label>
          <ion-input [hidden] formControlName="username" name="username" type="text"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
          Le prénom est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.pattern">
          Le prénom doit comporter au moins 3 caractères.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="user_email" name="user_email" type="user_email"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.required">
          L'email est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.pattern">
          L'email n'est pas correct.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input formControlName="password" name="password" type="text"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Le nom est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
          Le nom doit comporter au moins 3 caractères.
        </span>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">S'incrire</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="!isInscrire">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form" novalidate>
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Prénom</ion-label>
          <ion-input [hidden] formControlName="username" name="username" type="text"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
          Le prénom est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.pattern">
          Le prénom doit comporter au moins 3 caractères.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="user_email" name="user_email" type="user_email"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.required">
          L'email est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.pattern">
          L'email n'est pas correct.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input formControlName="password" name="password" type="text"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Le nom est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
          Le nom doit comporter au moins 3 caractères.
        </span>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" >Se connecter</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <div *ngIf="!isInscrire">

    <p class="item">OU</p>

    <ion-button type="submit" (click)="inscrire()" expand="block">S'inscrire</ion-button>
  </div>
  
</ion-content>