<ion-header>
  <ion-toolbar>
    <ion-title> Lost & Found
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="img-container">
    <ion-img class="logo" src="../../assets/Lost_and_found__1_-removebg-preview (1).png"
      alt="Logo Lost and found dans une loupe">
    </ion-img>
  </div>
  
  <!-- Si isInscrire est cliqué et si isConnect n'est pas cliqué -->
  <div *ngIf="isInscrire && !isConnect">
    <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm()" class="form" novalidate>
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Prénom</ion-label>
          <ion-input [hidden] formControlName="username" name="username" type="text"></ion-input>
        </ion-item>
        <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans sign-up.page.ts -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
          Le prénom est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.pattern">
          Le prénom doit comporter au moins 3 caractères.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="user_email" name="user_email" type="user_email"></ion-input>
        </ion-item>
        <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans sign-up.page.ts -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.required">
          L'email est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.pattern">
          L'email n'est pas correct.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input formControlName="password" name="password" type="password"></ion-input>
        </ion-item>
        <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans sign-up.page.ts -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Le mot de passe est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
          Le mot de passe doit comporter au moins 8 caractères.
        </span>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">S'incrire</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <p>Vous avez un compte ? <a type="submit" (click)="connect()">Se connecter</a> </p>
  </div>

  <!-- Si isInscrire n'est pas cliqué ou si isConnect est cliqué-->
  <div *ngIf="!isInscrire || isConnect">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form" novalidate>
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="user_email" name="user_email" type="user_email"></ion-input>
        </ion-item>
        <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans sign-up.page.ts -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.required">
          L'email est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.user_email.errors?.pattern">
          L'email est erroné.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input formControlName="password" name="password" type="password"></ion-input>
        </ion-item>
        <!-- Pour afficher les erreurs liées aux patterns que l'on a précisé dans sign-up.page.ts -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Le mot de passe est requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
          Le mot de passe doit comporter au moins 8 caractères.
        </span>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Se connecter</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <p>Pas encore de compte ? <a type="submit" (click)="inscrire()">S'inscrire</a> </p>
  </div>
</ion-content>