// ********************** Header **************************
.nav {
    --background: rgb(23, 140, 164);
    --background: linear-gradient(74deg, rgba(23, 140, 164, 1) 13%, rgba(24, 183, 190, 1) 83%);
    --color: rgb(255, 255, 255);
    font-family: 'Catamaran&Dancing';
    height: 80px;
}

ion-back-button {
    margin-top: 20px;
}

ion-title {
    margin-top: 20px;
}

.chip {
    margin-top: 25px;
    --background: rgb(255, 255, 255);
    --color: rgb(23, 140, 164);
    font-size: 15px;
}

.user {
    color: rgb(23, 140, 164);
}

.disconnect {
    margin-top: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
// ********************** Content **********************
ion-card {
    // border: solid 1px #178ca4;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(9, 171, 181, 0.2);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(9, 171, 181, 0.2);
    -moz-box-shadow: 2px 2px 5px 1px rgba(9, 171, 181, 0.2);

}

ion-content {
    --background: #e6f6f7;

}

ion-item-option {
    background: rgb(235, 68, 90);
    background: linear-gradient(184deg, rgba(235, 68, 90, 1) 13%, rgba(234, 180, 186, 1) 83%);
    --color: #F9F7F0;
}

ion-segment {
    margin-top: 10px;
    border: solid 1px #e6f6f7;
    border-radius: 10px;
}

ion-segment-button {
    --indicator-color: rgb(10, 72, 85);
    --color: rgb(23, 140, 164);
    --color-checked: #F9F7F0;
    --background-checked: linear-gradient(74deg, rgba(23, 140, 164, 1) 13%, rgba(24, 183, 190, 1) 83%);
    --color-hover: rgb(10, 72, 85);
    --background-hover: rgb(10, 72, 85);
}

.succes {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    --background: rgb(23, 140, 164);
    --background: linear-gradient(74deg, rgba(23, 140, 164, 1) 13%, rgba(24, 183, 190, 1) 83%);
    --color: #F9F7F0;
}
.echec {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    --background: rgb(235, 68, 90);
    --background: linear-gradient(74deg, rgba(235, 68, 90, 1) 13%, rgba(234, 180, 186, 1) 83%);
    --color: #ffffff;
}

// .choix {
//     margin-top: 10px;
//     --border-color: #e6f6f7;
//     border-radius: 10px;
// }

h1,
p {
    color: rgb(10, 72, 85);
}