.succes {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    --background: rgb(23,140,164);
    --background: linear-gradient(74deg, rgba(23,140,164,1) 13%, rgba(24,183,190,1) 83%);
    --color: #F9F7F0;
}
.nav {
    --background: rgb(23,140,164);
    --background: linear-gradient(74deg, rgba(23,140,164,1) 13%, rgba(24,183,190,1) 83%);
    --color: #F9F7F0;
    text-align: center;
    }
ion-card{
    // border: solid 1px #178ca4;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(9,171,181,0.2);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(9,171,181,0.2);
    -moz-box-shadow: 2px 2px 5px 1px rgba(9,171,181,0.2);
}
ion-content {
    --background: #e6f6f7;
}
ion-item-option {
    background: rgb(235,68,90);
    background: linear-gradient(184deg, rgba(235,68,90,1) 13%, rgba(234,180,186,1) 83%);
    --color: #F9F7F0;
}
.perdu {
    margin-top: 10px;
    --background: #e6f6f7;
    border-radius: 10px;
}
