<ion-header>
  <ion-toolbar class="nav">
    <ion-buttons slot="start" *ngIf="viewData.status == 0">
      <ion-back-button defaultHref="/lostlist" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="viewData.status == 1">
      <ion-back-button defaultHref="/foundlist" text="Retour"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{viewData.description}}</ion-title> -->
    <ion-chip class="chip" slot="end">
      <ion-icon class="user" name="person-circle-outline" size="large"></ion-icon>
      <ion-label>{{username}}</ion-label>
    </ion-chip>
    <ion-icon class="disconnect" name="exit-outline" (click)="disconnect()" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-label>
            <h1>{{viewData.description}}</h1>
            <p *ngIf="viewData.status == 0"> perdu à {{viewData.location}}, le : {{viewData.date}}</p>
            <p *ngIf="viewData.status == 1"> trouvé à {{viewData.location}}, le : {{viewData.date}}</p>
            <p>Prénom : {{viewData.firstname}} </p>
            <p>Nom : {{viewData.lastname}}</p>
            <p>Email : {{viewData.email}}</p>
            <ion-toolbar *ngIf="viewData.status == 0">
              <ion-segment value="{{viewData.status}}">
                <ion-segment-button value="0" (click)="update(1)" class="perdu">
                  Perdu
                </ion-segment-button>
                <ion-segment-button value="1" (click)="update(0)" class="trouve">
                  Trouvé
                </ion-segment-button>
              </ion-segment>
            </ion-toolbar>
            <ion-item *ngIf="viewData.status == 1" lines="full" class="succes">
              <ion-label> Objet retrouvé </ion-label>
            </ion-item>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option size="large" (click)="delete(viewData.id)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>

    </ion-card>

  </div>

</ion-content>