<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des objets perdus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card *ngFor="let lost of entryData">
      <ion-item-sliding>
        <ion-item-options side="end">
          <ion-item-option color="primary" routerLink="/viewentry/{{lost.id}}">
            <ion-icon name="eye" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item *ngIf="lost.status == 0" lines="none">
          <ion-label >
            <h1>{{lost.description}}</h1>
            <p>{{lost.location}}</p>
            <p>{{lost.date}}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-card>

  </div>
</ion-content>