<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Objet trouvé</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item lines="full">
        <ion-label position="floating">Description</ion-label>
        <ion-input [(ngModel)]="description" name="description" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Date</ion-label>
        <ion-input [(ngModel)]="date" type="date" name="date" [value]="defaultDate"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Lieu</ion-label>
        <ion-input [(ngModel)]="location" name="location" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input [(ngModel)]="firstname" name="firstname" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Nom</ion-label>
        <ion-input [(ngModel)]="lastname" name="lastname" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>