ion-toolbar {
    --background: rgb(23,140,164);
    --background: linear-gradient(74deg, rgba(23,140,164,1) 13%, rgba(24,183,190,1) 83%);
    --color: #F9F7F0;
    text-align: center;
}
ion-content {
    --background: #e6f6f7;
}
ion-button {
    --background: rgb(23,140,164);
    --background: linear-gradient(74deg, rgba(23,140,164,1) 13%, rgba(24,183,190,1) 83%);
    --color: #F9F7F0;
}
ion-item {
    border: solid 2px #e6f6f7;
    border-radius: 10px;
    color: rgb(23,140,164);
}
.error {
    color: rgb(238, 94, 113);
}
.toast-custom-class {
    --color: #F9F7F0;
    // --border-color:#000000;
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 1px;    
    background: linear-gradient(74deg, rgba(0, 165, 138,1) 13%, #2dd6ba 83%);
    --button-color: #F9F7F0;
}


