<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Objets trouvés
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-list>
        <ion-item color="primary">Effectuez une déclaration</ion-item>
        <ion-item routerLink="/lost">j'ai perdu un objet</ion-item>
        <ion-item routerLink="/found">j'ai trouvé un objet</ion-item>
        <ion-item color="primary">Ou accédez aux listes d'objets</ion-item>
        <ion-item routerLink="/lostlist">Objets perdus</ion-item>
        <ion-item routerLink="/foundlist">Objets trouvés</ion-item>
      </ion-list>

  </div>
</ion-content>
