<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lost & Found
    </ion-title>
    <ion-chip class="chip" slot="end">
      <ion-icon class="user" name="person-circle-outline" size="large"></ion-icon>
      <ion-label>{{username}}</ion-label>
    </ion-chip>
    <ion-icon class="disconnect" name="exit-outline" (click)="disconnect()" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="img-container">
    <ion-img class="logo" src="../../assets/Lost_and_found__1_-removebg-preview (1).png"
      alt="Logo Lost and found dans une loupe">
    </ion-img>
  </div>
  <div id="container">
    <ion-list>
      <ion-item class="list">Effectuez une déclaration : </ion-item>
      <ion-item routerLink="/lost" class="route">j'ai perdu un objet
        <ion-icon name="chevron-forward-outline" slot="end" class="chevron"></ion-icon>
      </ion-item>
      <ion-item routerLink="/found" class="route">j'ai trouvé un objet <ion-icon name="chevron-forward-outline"
          slot="end" class="chevron"></ion-icon>
      </ion-item>
      <ion-item class="list">Accédez à la des listes des : </ion-item>
      <ion-item routerLink="/lostlist" class="route">Objets perdus <ion-icon name="chevron-forward-outline" slot="end"
          class="chevron"></ion-icon>
      </ion-item>
      <ion-item routerLink="/foundlist" class="route">Objets trouvés <ion-icon name="chevron-forward-outline" slot="end"
          class="chevron"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

</ion-content>