// @import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Dancing+Script:wght@500;600&family=Lobster&family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&display=swap');

// @font-face {
//   font-family: 'Catamaran&Dancing';
//   src: url('https://fonts.googleapis.com/css2?family=Catamaran&family=Dancing+Script:wght@500;600&family=Lobster&family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&display=swap');
// }

// #container {
//   text-align: center;
//   --color: #F9F7F0;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   // color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// ******************************************************** Header ************************************************************
ion-toolbar {
  --background: rgb(23, 140, 164);
  --background: linear-gradient(74deg, rgba(23, 140, 164, 1) 13%, rgba(24, 183, 190, 1) 83%);
  --color: rgb(255, 255, 255);
  font-family: 'Catamaran&Dancing';
  height: 80px;
}

ion-back-button {
  margin-top: 20px;
}

ion-title {
  margin-top: 20px;
}

.chip {
  margin-top: 25px;
  --background: rgb(255, 255, 255);
  --color: rgb(23, 140, 164);
  font-size: 15px;
}

.user {
  color: rgb(23, 140, 164);
}

.disconnect {
  margin-top: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

// ******************************************************** Content ************************************************************
ion-content {
  --background: #e6f6f7;
}

.img-container {
  width: auto;
}

.logo {
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 40%;
  background: #e6f6f7;

  @media screen and (min-width: 800px) {
    width: 20%;
  }
}

ion-list {
  background: #e6f6f7;
  margin-top: 20%;

  @media screen and (min-width: 1024px) {
    margin-top: 40%;
  }
}

.list {
  --background: rgb(23, 140, 164);
  --background: linear-gradient(74deg, rgba(23, 140, 164, 1) 13%, rgba(24, 183, 190, 1) 83%);
  --color: #F9F7F0;
}

.chevron {
  color: rgb(23, 140, 164);
}

.route {
  color: rgb(10, 72, 85);
}